*{
  margin: 0;
  padding: 0;
}
body{
  background: url(https://t3.ftcdn.net/jpg/08/96/71/24/360_F_896712471_KDRUG8nibDLRGKcvZfx4egGZpDD6csm1.jpg);
font-family: "bree serif", serif ;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}
.title{
  text-align: center;
  color: rgb(84, 54, 9);
  font-size: 40px;
}
.app{
  background: transparent;
  width: 95%;
  min-height: 200px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 4px solid black;
  background: linear-gradient(90deg,#f5e020 20%, #ff6600 80%);

}
.Question-section{
  position: relative;
  width: 100%;
  
}
.question-text{
  color: rgb(108, 55, 36);
  font-size: 28px;
  font-weight: bold;
}
.Answer-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.score-section h3{
  font-size: 28px;
  text-align: center;
  color: rgb(64, 25, 8);
}
.score-section H2{
  text-align: center;
  font-size: 28px;
  color: rgb(64, 25, 8);
  
}
.score-section p{
font-size: 25px;
text-align: center;
margin-top: 110px;
}
button{
  width: 100%;
  font-size: 16px;
  color: black;
  background: linear-gradient(90deg,#f5e020 20%, #ff6600 80%);
  border-radius: 15px;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid black;
  cursor: pointer;
}
